*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul, ol, li {
  list-style: none;
}
body {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
img {
  object-fit: cover;
  width: 100%;
}

/*///////* Header Logo booki et menu de navigation*/

header {
  padding: 32px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav img {
  height: 50px;
  width: unset;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 16px;
}
header nav li a {
  padding-top: 46px;
}
header a:hover {
  border-top: 4px solid #0065fc;
  color: #0065fc;
}

/*//////* Deuxième bloc, Zone de recherche avec input+bouton */

.zone_de_recherche h1 {
  padding-bottom: 6px;
}
.zone_de_recherche {
  padding: 16px 32px;
}
form {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.zone_de_recherche form .map {
  height: 40px;
  width: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  border: none;
}
input::placeholder {
  color: black;
  font-weight: bold;
}
.bouton {
  background-color: #0065fc;
  color: white;
  border-radius: 0px 10px 10px 0px;
  width: 95px;
  height: 40px;
  border: none;
  font-weight: bold;
}
.loupe {
  display: none;
}
.case {
  height: 40px;
  border: 2px solid #f2f2f2;
  padding-left: 8px;
  position: relative;
}

/*///////* Filtres:container des filtres + style des filtres */


.containerFiltres {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  flex-flow: row wrap;
  padding: 0 32px;
}
.containerFiltres .filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  padding-right: 12px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}
.filtre span {
  margin: 0 10px;
  font-weight: bold;
}
.containerFiltres .filtre:hover {
  background-color: #0065fc;
  color: #f2f2f2;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.containerFiltres i {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information {
  display: flex;
  align-items: center;
  padding: 16px 32px;
}
.information i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  color: #0065fc;
}
main {
 display: grid;
 grid-template-columns: 2fr 1fr;
 column-gap: 32px;
 margin: 0 32px;
}
/*//////* Section Hébergements à Marseille */

main > section {
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 32px;
}
section .more {
  font-weight: bold;
  margin-top: 32px;
  display: block;
}
section > .container_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:32px;
}
main section h2 {
  margin-bottom: 16px;
}

/*////////* Défintion des cartes */

.container_cards img{
  width: 100%;
  height: 144px;
  border-radius: 16px 16px 0 0;
}
.container_cards a {
  background-color: white;
  border-radius: 16px;
  border: 4px solid white;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 0 20px #0000002e;
}
.container_cards a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
a .cardtext {
  padding-left: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 6px;
}
.cardtext h3, .cardtext p {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
.etoile {
  color: #0065fc;
}
.grey {
  color: #d9D9D9;
}
/*///////* Aside Les plus populaires */
aside {
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 32px;
  display: grid;
  grid-template-rows: auto repeat(3, 1fr);
  row-gap: 32px;
}
aside h2 {
  display: flex;
  justify-content: space-between;
}
.relativebox {
  position: relative ;
}
.popular_img {
  height:100%;
  margin-bottom: -4px;
}
aside img{
  width:100%;
  height: 100%;
  border-radius: 16px 0 0 16px;
  position: absolute;
}
.popularcardtext> div> p> span {
  font-weight: bold;
}
.popular_card {
  display:grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  border-radius: 16px; 
  border: 4px solid white;
  overflow: hidden;
  box-shadow: 0 0 20px #0000002e;
  transition:0.3s;
}
aside a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.popularcardtext {
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: flex-start;
}


/*/////////* Activités à Marseille*/

.Activites_a_Marseille h2 {
  margin: 32px 0 0 32px;
}
.Container_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px repeat(3, 32px) 200px;
  margin: 16px 0 32px 0;
  object-fit: cover;
  width:100%;
  column-gap: 32px;
  padding: 32px;
}
.Container_grid > article:nth-child(1) {
  grid-area: 1/1/6/2;
}
.Container_grid > article:nth-child(2) {
  grid-area: 1/2/4/3;
}
.Container_grid > article:nth-child(3) {
  grid-area: 5/2/6/3;
}
.Container_grid > article:nth-child(4) {
  grid-area: 1/3/6/4;
}
.Container_grid > article:nth-child(5) {
  grid-area: 1/4/3/5;
}
.Container_grid > article:nth-child(6) {
  grid-area: 4/4/6/5;
}
.Container_grid > article > a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.img_activites {
  flex: 1;
  position:relative;
}
.img_activites > img {
  position: absolute;
  height:100%;
}
.Container_grid h3 {
  padding: 19px;
}
.container a { 
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
}
 article {
  transition: 0.3s;
 }
 article:hover {
  transform: scale(1.05);
  transition: 0.3s;
  cursor: pointer;
}

/*/////////* Footer */
footer {
  margin: 0;
}
footer nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  background-color: #f2f2f2;
  padding: 32px;
}
nav .menu {
  flex: 1;
}
footer h3 {
  margin: 10px;
}
footer li{
  padding: 6px;
}
/* Responsive Design */
@media screen and (max-width:768px) {
  body{
    display: flex;
    flex-flow: column wrap;
    width:100%;
    margin: 0;
    overflow: hidden;
  }
  header {
    padding: 32px 0;
  }
  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  header nav img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
  }
  header nav li {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid transparent;
  }
  header nav a:hover {
    border-top: none;
    color: #0065fc;
  }
  header nav li a {
    padding-bottom: 10px;
  }
  header nav li:hover {
    border-bottom: 3px solid #0065fc;
  }
  .case {
    height: 50px;
    width: 200px;
    font-size: 16px;
  }
  .zone_de_recherche form .map {
    height: 50px;
    width:50px;
    font-size: 20px;
  }
  
  .zone_de_recherche{
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  .zone_de_recherche h1 {
    display: flex;
    justify-content: flex-start;
  }
  .zone_de_recherche p {
    display: flex;
    justify-content: flex-start;
  }
  .zone_de_recherche form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
  }
  .zone_de_recherche .loupe{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: #0065fc;
  color: white;
  border-radius:0 16px 16px 0;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 16px;
  }
  .zone_de_recherche .bouton{
    display:none;
  }
  header nav {
    display: flex;
    flex-flow: column wrap;
  }
  .containerFiltres {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 16px;
    gap: 6px;
  }
  .information {
    padding: 16px 16px;
    flex-flow: nowrap;
  }
  .containerFiltres h3 {
    width:100%;
    padding-bottom: 6px;
  }
  main {
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 0;
  }
  .Hebergement_a_Marseille{
    order:2;
    background: none;
    width:100%;
    padding: 0;
  }
  .Hebergement_a_Marseille h2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 32px;
    padding-left: 32px;
  }
  .Hebergement_a_Marseille .container_cards {
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 0;
  }
  .Hebergement_a_Marseille a {
    width:80%;
    height: 100%;
  }
  .Hebergement_a_Marseille .more {
    display: flex;
    margin-left: 32px;
  }

  aside {
    width:100%;
    margin:0;
    border-radius: 0;
  }
  
  .Les_plus_populaires h2{
    display: flex;
    margin-top: 32px;
  }
  .popularcardtext {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
  }
  .popularcardtext> div h3{
    font-size: 16px;
  }
  .popularcardtext> div p {
    font-size: 14px;
    padding-bottom: 32px;
  }
  .popularcardtext .etoile {
    font-size: 12px;
  }

  .Container_grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 40vw);
    gap: 32px;
  }
  .Container_grid > article.container {
    grid-area: unset;
  }
  .Activites_a_Marseille {
    padding: 32px;
  }
  footer {
    width: 100%;
  }
  footer nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 32px;
  }
} 
@media screen and (min-width:769px) and (max-width:992px) {
  main {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  aside {
    grid-area: 1;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
  aside h2 {
    grid-area: 1/1/2/4;
  }
  .Activites_a_Marseille {
    padding: 64px 32px;
  }
  .Activites_a_Marseille h2 {
    margin-bottom: 32px;
  }
}
@media screen and (max-width:320px) {
  body {
    margin: 0;
  }
}