*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol,
li {
  list-style: none;
}
body {
  max-width: 1400px;
  width: 100%;
  margin: auto;
}
img {
  object-fit: cover;
  width: 100%;
}
/* Header */
header {
  padding-bottom: 30px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
header nav img {
  height: 50px;
  width: unset;
}
header nav ul {
  display: flex;
}
header nav ul li {
  margin: 0 16px;
}
header nav li a {
  padding-top: 44px;
}
nav li a:hover {
  border-top: 2px solid #0065fc;
}

/* Deuxième bloc, Zone de recherche*/
.zone_de_recherche h1 {
  font-size: 20px;
  padding-bottom: 6px;
}

form {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.zone_de_recherche form .map {
  height: 40px;
  width: 40px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  border: none;
}
input::placeholder {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.bouton {
  background-color: #0065fc;
  color: white;
  border-radius: 0px 10px 10px 0px;
  width: 95px;
  height: 40px;
  border: none;
}
.loupe {
  display: none;
}
.case {
  height: 40px;
  border: 2px solid #f2f2f2;
  padding-left: 20px;
}
/* Filtres */
.containerFiltres {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  flex-flow: row wrap;
}
.containerFiltres .filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  padding-right: 12px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}
.filtre h3 {
  margin: 0 10px;
}
.containerFiltres .filtre:hover {
  background-color: #0065fc;
  color: #f2f2f2;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.containerFiltres i {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.information i {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  color: #0065fc;
}
main {
 display: grid;
 grid-template-columns: 2fr 1fr;
 column-gap: 32px;
}
/* Section Hébergements à Marseille */
main > section {
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 32px;
}
section .more {
  font-weight: bold;
  margin-top: 32px;
  display: block;
}
section > .container_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:32px;
}
main section h2 {
  margin-bottom: 16px;
}
.container_cards img{
  width: 100%;
  height: 20vh;
  border-radius: 16px 16px 0 0;
}
.container_cards a {
  background-color: white;
  border-radius: 16px;
  border: 4px solid white;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.container_cards a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
a .cardtext {
  padding-left: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
.cardtext h3, .cardtext p {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}
.etoile {
  color: #0065fc;
}
.grey {
  color: #d9D9D9;
}
/* Aside Les plus populaires */
aside {
  background-color: #f2f2f2;
  border-radius: 16px;
}
aside .entete{
  display: flex;
  justify-content: space-between;
  margin:16px;
}
aside > .container_popular {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 32px;
  padding:32px;
  transition: 0.3s;
}
.popular_img {
  height:100%;
  margin-bottom: -4px;
  
}
.container_popular img{
  width:100%;
  height: 100%;
  border-radius: 16px 0 0 16px;
  height: 20vh;
}
.popular_card {
  display:grid;
  grid-template-columns: 1fr 2fr;
  background-color: white;
  border-radius: 16px; 
  border: 4px solid white;
  overflow: hidden;
}
.container_popular a:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.popularcardtext {
  padding:6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Activités à Marseille*/

.Activites_a_Marseille h2 {
  margin-top: 16px;

}
.Container_grid {
  display: flex;
  flex-flow: row;
  align-items:center;
  margin: 16px 0 32px 0;
  height: 55vh;
  object-fit: cover;
}
.Container_grid .small{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 45%;
  padding: 32px;
  height: 100%;
  gap:32px;
}
  
.container_one { 
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  height: 88%;
  width:45%;
}
  
.container_two { 
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  height: 50%;
}
  
.container_three {  
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  height: 50%;
}
  
.container_four {  
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  height: 88%;
  width: 45%;
}
  
.container_five { 
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  height: 50%;
}
  
.container_six {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px #0000002e;
  border-radius: 16px;
  overflow: hidden;
  height: 50%;
}

.img_activites {
 display: flex;
 position: relative;
}
.Activites_a_Marseille a {
  display: flex;
  flex-flow:column wrap;
}
.Activites_a_Marseille h3 {
  display: flex;
  align-content: flex-end;
}
 article:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

/* Footer */
footer nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-top: 32px;
  background-color: #f2f2f2;
  padding: 32px;
  gap: 224px;
}
footer h3 {
  margin: 10px;
}
footer li{
  padding: 6px;
}
@media screen and (max-width:768px) {
  body{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-flow: column wrap;
    width:100%;
    margin: 0;
  }
  nav li a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }
  .zone_de_recherche{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .zone_de_recherche .loupe{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color: #0065fc;
  color: white;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border: none;
  }
  .zone_de_recherche .bouton{
    display:none;
  }
  header nav {
    display: flex;
    flex-flow: column wrap;
  }
  .filtres {
    display: flex;
    flex-flow: column wrap;
  }
  main {
    display: flex;
    flex-direction: column;
    width:100%;
    margin: 0;
  }
  .Hebergement_a_Marseille{
    order:2;
    background: none;
    width:100%;
    padding: 0;
  }
  .Hebergement_a_Marseille h2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 32px;
  }
  .Hebergement_a_Marseille .container_cards {
    display: flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 0;
  }
  .Hebergement_a_Marseille a {
    width:80%;
    height: 100%;
  }
  .Les_plus_populaires {
    width:100%;
    margin:0;
  }
  .Les_plus_populaires .container_popular {
    width:100%;
    margin:0;
    border-radius: none;
  }
  .Activites_a_Marseille .Container_grid {
    display: flex;
    flex-direction:column;
    width: 100%;
  }
  .Container_grid .small {
    display: flex;
    flex-direction: column;
  }
  


}  